.logo-color {
    color: rgb(109, 155, 255);
}
.barlinks{
    align-items: center;
    font-size: 15px;
    text-decoration: none;
}
body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.barlink{
    margin: 0%;
}
.top-title{
    position: relative;
    padding-top: 10%;
}
section h1{
    text-align: center;
    margin-top: 10%;
    color: rgb(255, 187, 0);
    font-size: 40px;
}
.gym-right{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.top-banner{
    background-image: url(images/bcs-bg-main.png);
    width: 100;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: -10%;
}
.rate-desc{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.green-bcs{
    padding-top: 5%;
}








/*
desktop:1200px;
laptop:992px;
tablet:768px;
phone:600px;
*/

@media (max-width: 890px) {
    .logo-color{
        font-size: 50px;
    }
    .logo {
        width: 40px;
    }
    .barlinks{
        font-size: 20px;
    }
    section h1{
        margin-top: 10%;
    }
    
}
@media (max-width: 768px) {
    .logo-color{
        font-size: 50px;
    }
    .logo {
        width: 40px;
    }
    .barlinks{
        font-size: 20px;
    }
}
@media (max-width: 992px) {
    .logo-color{
        font-size: 40px;
    }
    .logo {
        width: 40px;
    }
    .barlinks{
        font-size: 20px;
    }
    .gym-right{
        width: 70%;
    }
    .rate-desc{
        font-size: 20px;
    }
    .green-bcs{
        padding-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}
@media (orientation: landscape) {
    .logo-color{
        font-size: 28px;
    }
    .logo {
        width: 40px;
    }
    .barlinks{
        font-size: 15px;
    }
    .motto{
        text-align: center;
        color: #aceb46;
    }
    .gym-right{
        width: 50%;
    }
    .top-banner{
        margin-bottom: 0%;
    }
}
@media (orientation: portrait) {
    .logo-color{
        font-size: 28px;
    }
    .logo {
        width: 40px;
    }
    .barlinks{
        font-size: 15px;
    }
    .motto{
        text-align: center;
        color: #aceb46;
    }
    .rate-desc{
        font-size: 20px;
    }
    .rate{
        padding-top: -60%;
    }
    .top-banner{
        margin-bottom: -30%;
    }
    .green-bcs{
        padding-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}